.head{
	text-align: center;margin: 80rpx 0;display: flex;justify-content: center;
	.img{width: 200rpx;height: 200rpx;border-radius: 50%;display: flex;}
}

.sign_info{
	position: relative;
	.map-item{
		position: absolute;top: 0;left: 0;z-index: 1;width: 100%;
		.map{width: 100%;height: 400rpx;}
		&::after{content: '';display: block;position: absolute;top: 0;width: 100%;height: 400rpx;background-image: radial-gradient(rgba(255,255,255,0.8),rgba(255,255,255,1));}
	}
}

.location-info{
	display: flex;line-height: 1.6;flex-direction: column;padding: 100rpx 0 40rpx;align-items: center;position: relative;z-index: 10;
	.headPic{
		border: 6rpx solid #67B422;position: relative;border-radius: 50%;margin-bottom: 40rpx;
		.img{width: 40rpx;height: 40rpx;border-radius: 50%;display: flex;position: relative;z-index: 9;}
		&::after{content: '';display: block;position: absolute;bottom: -37rpx;left: 0;width: 0;height: 0;border-width: 20rpx;border-style: solid;border-color: #67B422 transparent transparent;z-index: 2;}
	}
	.area{font-size: 32rpx;font-weight: bold;color: #6A9031;}
	.address{font-size: 30rpx;color: #6A9031;}
}


.sign_write{
	position: relative;z-index: 10;
	.remark{color: #5A77A4;}
	.dx-upload_img{
		&::after{display: none!important;}
		.upload-img{
			justify-content: center;
			.uploadvalue{margin: 0;}
		}
	}
	.addCover{
		.uploadvalue{margin: 8rpx!important;}
		.il-item{margin: 8rpx!important;}
	}
}

.sign-box{
	.sign-item{
		background-color: #fff;margin-bottom: 24rpx;
		::v-deep .dx-cell{
			border-bottom: 0!important;
		}
		&:first-child{margin-top: 0;}
	}
}

.sign_time{
	display: flex;justify-content: center;align-items: center;margin: 0 auto;width: 240rpx;height: 240rpx;border-radius: 50%;border: 10rpx #ECB514 solid;line-height: 1;color: #675B45;margin-top: 80rpx;flex-direction: column;
	.time{font-size: 60rpx;font-weight: bold;}
	.txt{font-size: 30rpx;margin-top: 12rpx;}
}


.sign_record{position: absolute;top: 20rpx;right: 20rpx;padding: 20rpx 40rpx;line-height: 1;font-size: 30rpx;color: #415161;z-index: 12;border: 1rpx #999 solid;border-radius: 60rpx;}

// 签到结果
.sign_results{
	position: fixed;z-index: 19;top: 0;left: 0;width: 100%;height: 100%;background-color: #fff;display: flex;flex-direction: column;align-items: center;padding-top: 100rpx;
	.icon{
		line-height: 1;
		.dxi-icon{font-size: 192rpx;color: #FFC268;}
	}
	.txt{font-size: 40rpx;padding-top: 60rpx;color: #598228;}
	.results-info{
		padding: 100rpx 80rpx 0;
		.row{
			display: flex;justify-content: space-between;align-items: center;height: 88rpx;font-size: 34rpx;line-height: 1.2;
			.llabel{color: #888;}
			.rvalue{
				flex: 1;padding-left: 20rpx;display: flex;justify-content: flex-end;
				.img{width: 80rpx;height: 80rpx;display: flex;border-radius: 6rpx;}
			}
		}
	}
}

#location{
	height: 300rpx;position: relative;
	map{width: 100%;height: 100%;display: flex;}
}

#sign{position: relative;width: 40%;margin: 50upx auto;border: #5585f1 8px solid;border-radius: 50%;}
#sign #con{position: absolute;top: 18%;left: 0;right: 0;text-align: center;}
#sign #timer{font-size: 38px;color: #d67e0b;}
#sign .txt{font-size: 16px;color: #999;}