
var Filter = {

    getDate: function(time, splitStr) {
        if (!time) return '';
        var date = getDate(time);
        var M = date.getMonth() + 1;
        var y = date.getFullYear();
        var d = date.getDate();
        if (M < 10) M = "0" + M;
        if (d < 10) d = "0" + d;
        if (splitStr)
            return y + splitStr + M + splitStr + d;
        else
            return {
                y: y,
                M: M,
                d: d
            };
    },
    getCover:function(siteName,file,path,size){
         if(!file) return "";
         var fileArr = file.split(",");
        return siteName+"/upload/images/"+path+"/"+size+"_"+fileArr[0];
    },
    getFixed:function(res){
        
        console.log(res.toFixed(2));
        return res.toFixed(2);
    }
}

   module.exports = {
     getDate: Filter.getDate,
     getCover:Filter.getCover,
     getFixed:Filter.getFixed
   }