.bank{margin: 20upx;}
.bank_list{background-color: #c75056;padding: 24upx 30upx;border-radius: 12upx;color: #fff;margin-bottom: 20upx;}
.bank_id{display: flex;justify-content: center;font-size: 60upx;}
.bank_id text{padding: 0 20upx;}

.bank_add{display: flex;background-color: #fff;color: #333;align-items: center;padding: 40upx 30upx;}