/* 整体 */
.showBox{background-color: #fff;border-radius: 12rpx;margin: 24rpx;overflow: hidden;}
.top-box{background-color: #33c45d;color: #fff;position: relative;}
.top-box::before{content: '';display: block;position: absolute;bottom: -10rpx;left: 20rpx;right: 20rpx;border-bottom: dotted #fff 20rpx;}

/* 券信息 */
.cash-info{display: flex;align-items: center;}
.cash-info .cover .img{width: 220rpx;height: 220rpx;display: flex;}
.cash-info .price{font-size: 80rpx;width: 35%;text-align: center;}
.cash-info .info{flex: 1;padding: 30rpx;min-height: 220rpx;display: flex;flex-wrap: wrap;align-content: space-between;}


/* 图片码 */
.con-box .qrcode{text-align: center;padding: 30rpx 40rpx 40rpx;}
.con-box .qrcode .img{width: 400rpx;height: 400rpx;}
.con-box .qrcode .txt{color: #666;font-size: 26rpx;letter-spacing: 3rpx;}

/* 说明 */
.explain{border-top: 2rpx solid #eee;padding-bottom: 40rpx;}
.explain .title{font-size: 30rpx;color: #333;line-height: 48rpx;}
.explain .content{font-size: 30rpx;color: #333;line-height: 1.4;padding: 0 40rpx;margin-top: 40rpx;}