page{position: relative;padding-bottom: 0!important;}
page,scroll-view{height: 100%;}


/* 产品轮播 */
.show_banner{}
.show_banner image{width: 100%;}


/* 秒杀 */
.ass-price{background: #ff4342;display: flex;justify-content: space-between;align-items: center;}
.ass-price .price{color: #fff;}
.ass-price .r-time .t-name{color: #fff;}


/* 产品信息 */
.pro_infor{}
.pro_infor .pro_name{line-height: 22px;}
.pro_infor .pro_top{display: flex;background: url('https://merchant.doxinsoft.com/images/site/show-price-bg01.png') no-repeat;position: relative;z-index: 1;background-size: 100% 100%;justify-content: space-between;margin-top: -9px;height: 74px;}
.pro_infor .cms_price {flex: 1;overflow: hidden;display: flex;align-content: center;flex-wrap: wrap;}
.pro_infor .cms_price .p{width: 100%;}
.pro_infor .cms_price .dw{padding-bottom: 2px;}
.pro_infor .other-info{color: #999;display: flex;justify-content: space-between;}
.pro_infor .other-info .info-item{}
.pro_infor .buy-num-indetail{border-bottom: 0;border-top: #eee 1px dashed;height: auto;}
.pro_infor .reward{position: relative;}
.pro_infor .reward:before{content: "";display: inline-block;height: 8px;width: 8px;border-width: 1px 0 0 1px;border-color: #eee;border-style: solid;-webkit-transform: matrix(.71,.71,-.71,.71,0,0);transform: matrix(.71,.71,-.71,.71,0,0);position: relative;top: -4.5px;position: absolute;left: 15px;background: #fff}
.pro_infor .nokill{align-items: flex-end;}


/* 评价 */
.evalute .u-info .u-info-box{display: flex;align-items: center;}
.evalute .u-info .u-img .img{width: 40px;height: 40px;border-radius: 40px;display: flex;}
.evalute .u-info .u-name{width: 100%;flex: 1;overflow: hidden;display: flex;}
.evalute .u-con .p{font-size: 13px;line-height: 22px;}
.evalute .u-con .image-group{display: flex;margin: 0 -4px;}
.evalute .u-con .image-group .img-item{width: 70px;box-sizing: border-box;margin: 4px;}
.evalute .u-con .image-group .img-item image{width: 70px;height: 70px;display: flex;}
.evalute .u-con .again{border-left: 4px #FF4351 solid;line-height: 14px;}



/* 产品内容 */
.pro_title{color: #333;line-height: 92rpx;border-bottom: 2rpx #eee solid;display: flex;font-size: 32rpx;}
.pro_title .title-item{width: 100%;text-align: center;}
.pro_title .title-item .name{font-size: 32rpx;}
.pro_title .title-item .cur{position: relative;}
.pro_title .title-item .cur::after{content: "";display: block;position: absolute;left: 50%;bottom: -28rpx;height: 6rpx;width: 80rpx;margin-left: -40rpx;background-color: #FF4422;border-radius: 4rpx;}
.pro-content{}
.pro-content .pro-con-main{}
.pro-content .pro-con-main image{width: 100%!important;display: flex;}
.pro-content .pro-con-main img{width: 100%!important;display: flex;}
.pro-content .wxParse .p{margin: 0;}
.pro_footer{position: fixed;bottom: 0;left: 0;height: 6rem;background: #ddd;z-index: 999;}
.data-con{padding-bottom: 60px!important;}


/* 产品底部 */
#footer{height: 50px;position: fixed;left: 0;bottom: 0;width: 100%;background: #fff;z-index:99;display: flex;}
#footer .left{display: flex;}
#footer .left .btn-item{padding: 0;margin: 0;width: 50px;text-align: center;background: transparent;}
#footer .left .iconfont{height: 32px;line-height: 34px;font-size: 20px;color: #666;}
#footer .left .txt{height: 16px;line-height: 16px;font-size: 12px;color: #666;}
#footer .left .cart{position: relative;}
#footer .left .cart .sum{position: absolute;top: 0px;right:3px;background: #FEAE1B;color: #fff;font-size: 10px;border-radius: 50%;height:16px;width:16px;text-aling:center;line-height:16px;}

#footer .right{line-height: 50px;display: flex;flex: 1;overflow: hidden;}
#footer .right myform{width: 100%;}
#footer .right .r-nav{width: 100%;padding: 5px 3px;}
#footer .right .r-item{text-align: center;font-size: 14px;color: #fff;height: 40px;line-height: 40px;border-radius: 20px;width: 100%;}
#footer .right .r-item-yellow{background-color: #FEAE1B;} 
#footer .right .r-item-red{background-color: #FF4949;}
#footer .right .r-item-default{background-color: #eee;color: #999;}
#footer .right .sub-btn-big{border-radius: 0;}
#footer .right .r-opacity{opacity: 0.5;}


/* 下架 */
.offSale{position: fixed;bottom: 50px;width: 100%;background: #666;line-height: 30px;text-align: center;font-size: 14px;color: #fff;z-index: 10;}


.share-tip{position: fixed;top: 0;right: 0;width: 100%;height: 100%;text-align: right;z-index: 9;}
.share-tip .img{width: 70%;}

.arrow-top{position: fixed;z-index:9;right: 30rpx;bottom:20vh;width: 100rpx;height: 100rpx;text-align: center;background: #FF721F;border-radius: 50%;}
.arrow-top .iconfont{color: #fff;font-size: 50rpx;display: block;line-height: 100rpx;}

.float-nav-index{position: fixed;z-index:15;right: 15px;width: 40px;height: 40px;background-color: #fff;border-radius: 50%;line-height: 38px;text-align: center;padding-left: 0;padding-right: 0;border: 1px #ccc solid;bottom: 70px!important;}
.float-nav-index .iconfont{color: #516171;}