/* 删除 */
.del-icon{border-radius: 50%;width: 26px;height: 26px;line-height: 26px;text-align: center;}


/* 列表 */
.pro_info{background: #fff;}
.pro_info .order_date{height: 80upx;line-height: 80upx;display: flex;justify-content: space-between;}
.pro_info .order_info{display: flex;}
.pro_info .order_info .pro_img .img{width: 120upx;height: 120upx;display: flex;border-radius: 6upx;}
.pro_info .order_info .txt{height: 120upx;line-height: 40upx;padding-left: 20upx;flex: 1;overflow: hidden;}
.pro_info .order_info .txt .price{color: #999;}
.pro_info .order_count{display: flex;justify-content: flex-end;}

.pro_info .btn-group{display: flex;justify-content: flex-end;}
.pro_info .btn-item .btn-nav{min-width: 160upx;height: 60upx;line-height: 56upx;border: 2upx #ddd solid;border-radius: 60upx;color: #555;font-size: 26upx;text-align: center;margin-left: 20upx;}