@font-face {
  font-family: 'iconfont';  /* Project id 1759642 */
  src: url('//at.alicdn.com/t/font_1759642_een3bnnfhdv.woff2?t=1637977511355') format('woff2'),
       url('//at.alicdn.com/t/font_1759642_een3bnnfhdv.woff?t=1637977511355') format('woff'),
       url('//at.alicdn.com/t/font_1759642_een3bnnfhdv.ttf?t=1637977511355') format('truetype');
}

/* 3314024140@qq.com  dx3229010  包工淘 */

.iconfont {
	font-family: "iconfont" !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-top:before{content: "\f304";}/* 上 */
.icon-bottom:before{content: "\f303";}/* 下 */
.icon-left:before{content: "\f301";}/* 左 */
.icon-right:before{content: "\f302";}/* 右 */
.icon-n-right:before{content: "\f305";}/* 右 */
.icon-add:before{content: "\e85a";}/* 加 */

.icon-time-o:before{content: "\e65a";}/* 时间 */
.icon-location-o:before{content: "\e61c";}/* 定位 */
.icon-tel-co:before{content: "\e60a";}/* 拨号 */
.icon-home-o:before{content: "\e682";}/* 时间 */
.icon-share-o:before{content: "\e63b";}/* 时间 */
.icon-del:before{content: "\e63f";}/* 删除 */
.icon-people:before{content: "\e637";}/* 人员 */
.icon-merchant:before{content: "\e724";}/* 企业 */


.icon-pay-no:before{content: "\e988";color: #E84335;}/* 支付失败 */
.icon-pay-yes:before{content: "\e989";color: #09BB07;}/* 支付成功 */


.icon-trends-thumbs:before{content: "\e717";}/* 点赞 */
.icon-trends-evalute:before{content: "\e604";}/* 评价 */


.icon-user-recruit:before{content: "\e660";}/* 招聘管理 */
.icon-user-apply:before{content: "\e617";}/* 简历管理 */
.icon-user-coupon:before{content: "\e633";}/* 优惠券管理 */
.icon-user-cancel:before{content: "\e64b";}/* 核销信息 */
.icon-user-worker:before{content: "\e650";}/* 用工管理 */
.icon-user-transactions:before{content: "\e63e";}/* 工资发放 */
.icon-user-company:before{content: "\e613";}/* 企业展示 */
.icon-user-scan:before{content: "\e626";}/* 扫一扫 */


.icon-task-null:before{content: "\e610";}/* 没有任务 */
.icon-sign:before{content: "\e615";}/* 签字 */

.icon-:before{content: "\e";}/*  */