page{height: 100%;}
.height100{height: 100%;background-color: #fff;}

.explain{border-top: 20rpx #f2f2f2 solid;}

.count ::v-deep .dxi-btn{background: linear-gradient(270deg, rgb(216, 181, 123) 0%, rgb(241, 215, 180) 100%);border: 0;padding: 20rpx 60rpx;}
.count ::v-deep .dxi-btn-primary:hover{background: linear-gradient(270deg, rgb(216, 181, 123) 0%, rgb(241, 215, 180) 100%)!important;border: 0!important;color: #623d04!important;}