/* 登录logo */
.logo{padding: 80upx 0;text-align: center;}
.logo .img{width: 240upx;height: 240upx;border-radius: 12upx;}


/* 其他登录方式 */
.other-type{padding-top: 120upx;}
.other-type .wechat{text-align: center;}
.other-type .wechat .dxi-icon{font-size: 40upx;color: #043B9F;display: inline-block;width: 80upx;height: 80upx;text-align: center;line-height: 80upx;border: 1upx #043B9F solid;border-radius: 50%;}


/* 信息填写 */
.login-list /deep/.dx-cell{border-color: #ddd;}
.login-list /deep/.slot-icon .iconfont{font-size: 36upx;color: #666;padding-right: 30upx;}
.login-list /deep/.dx-input,
.info-form /deep/.dx-cell,
.info-form /deep/.dx-input,
.info-form /deep/.dx-text
{font-size: 32upx;}


/* 同意条款 */
.footer-agreement{display: flex;justify-content: center;align-items: center;font-size: 28upx;padding-top: 40upx;}
.agreement checkbox{zoom: 70%;display: flex;}


/* 提交按钮 */
.info-subBtn /deep/.dxi-btn{border-color: #043B9F;background-color: #043B9F;color: #fff;}
.info-login /deep/.dxi-btn{border-color: #043B9F;background-color: #ffffff;color: #043B9F;}