.pages-news-show-index{background-color: #fff!important;}

.content ._p{font-size: 15px;color: #333;line-height: 1.7em;margin: 0 0 10px 0;}
.content img,.content ._img,.content image{max-width: 100%;}