._li{ display:list-item }
._ol{list-style-type: decimal }
._ol ._ul, ._ul ._ol,._ul ._ul, ._ol ._ol  { margin-top: 0; margin-bottom: 0 }
._ol, ._ul{ margin-left: 40px }


._h1{ font-size:2em; margin: .67em 0 }
._h2{ font-size:1.5em; margin: .75em 0 }
._h3{ font-size:1.17em; margin: .83em 0 }
._h4, ._p,._blockquote, ._ul,._fieldset, ._form,._ol, ._dl, ._dir,._menu { margin: 1.12em 0}
._h5 { font-size:.83em; margin: 1.5em 0 }
._h6{ font-size:.75em; margin: 1.67em 0 }
._h1, ._h2, ._h3, ._h4,._h5, ._h6, ._b,._strong  { font-weight: bolder}

._i, ._cite, ._em,._var, ._address{ font-style: italic }
._big{ font-size:1.17em }
._small, ._sub, ._sup{ font-size: .83em;display: inline-block}
._sub{ vertical-align:sub }
._sup{ vertical-align:super }
._s, ._strike, ._del{ text-decoration: line-through }
._u, ._ins{ text-decoration:underline }
