// lists
.title{background-color: $color-primary;color: $color-white;padding: 16rpx 30rpx 30rpx;font-size: 36rpx;line-height: 1;}
.jobs_item{
	.condition{
		display: flex;flex-wrap: wrap;margin: 30rpx 0;
		.lab{background-color: #f5f5f5;padding: 0 16rpx;line-height: 48rpx;color: #666;font-size: 28rpx;margin-right: 12rpx;border-radius: 8rpx;}
	}
	.userInfo{
		.head{width: 60rpx;height: 60rpx;display: flex;border-radius: 50%;}
	}
	.edit-nav{display: flex;justify-content: flex-end;border-top: 1rpx #eee solid;padding-top: 20rpx;}
}

// 简历,resume2
.edit{
	::v-deep .textarea{
		display: block;
		.dx-text{
			margin-top: 20rpx;font-size: 30rpx;
		}
	}
}

// 上传头像
// 简历,resume
.resume{
	::v-deep .dx-cell_block{
		.dx-label{margin-bottom: 16rpx;}
	}
	::v-deep .dx-cell{
		display: block!important;font-size: 36rpx!important;
		.dx-cell_bd{
			.dx-input{font-size: 36rpx!important;margin-bottom: 10rpx;}
			.picker{
				text-align: left!important;font-size: 36rpx!important;
			}
			.dx-text{font-size: 36rpx!important;line-height: 1.6!important;height: 240rpx!important;}
		}
		.dx_ft-access{
			&::before{top: -34rpx}
		}
	}
	.dx-cell.upload-head{
		display: flex!important;
		.dx-cell_bd{
			flex: initial!important;width: 100rpx;
			.img{width: 100%;height: 100rpx;border-radius: 50%;display: flex;}
		}
	}
	.tips{
		background: #DEDFFD;
	}
	&.remark{
		.textarea{
			&::after{display: none;}
			.dx-text{
			border: 1rpx #ddd solid;border-radius: 12rpx;height: 400rpx!important;padding: 20rpx;line-height: 1.6;}
		}
	}
}


// 简历展示，show
.talents-info{
	padding: 40rpx 30rpx;display: flex;align-items: center;
	.head{
		width: 140rpx;height: 140rpx;position: relative;
		.img{width: 100%;height: 100%;display: flex;border-radius: 50%;}
		.sex{
			position: absolute;right: 0;bottom: -10rpx;
			.item{width: 40rpx;height: 40rpx;display: flex;align-items: center;justify-content: center;border-radius: 50%;color: $color-white;font-size: 22rpx;}
			.man{background: $uni-color-primary;}
			.women{background: $uni-color-error;}
		}
	}
	.info{
		flex:1;padding-left: 30rpx;line-height: 1;
		.name{font-size: 44rpx;font-weight: bold;}
		.tag{
			display: flex;align-items: center;margin-top: 30rpx;
			.item{
				font-size: 28rpx;padding-right: 12rpx;margin-right: 12rpx;position: relative;
				&::after{content: '';display: block;position: absolute;top: 5%;right: 0;height: 90%;width: 2rpx;background-color: #999;}
				&:last-child::after{display: none;}
			}
		}
	}
}

.talents-item{
	.info{
		.labG{
			display: flex;align-items: center;
			.lab{
				line-height: 1;font-size: 30rpx;color: #666;position: relative;padding-right: 16rpx;margin: 16rpx 16rpx 0 0;
				&::before{content: '';display: block;position: absolute;width: 1px;height: 80%;right: 0;top: 5%;background-color: #bbb;}
				&:last-child::before{display: none;}
			}
		}
		.right{
			.head{width: 100rpx;height: 100rpx;display: flex;border-radius: 50%;}
		}
	}
	.con{
		.dot{width: 8rpx;height: 8rpx;border-radius: 50%;background-color: #666;margin: 0 10rpx;}
	}
}

.talents-item{
	margin: 0 30rpx;padding: 30rpx 0;position: relative;
	&::before{content: '';display: block;position: absolute;left: 0;right: 0;top: 0;width: 100%;height: 2rpx;transform: scaleY(.5);background-color: #dedede;}
	.item-name{font-size: 36rpx;font-weight: bold;}
	.item-con{font-size: 30rpx;line-height: 1.6;margin-top: 16rpx;text-align: justify;}
	.item-edit{position: absolute;z-index: 99;top: 20rpx;right: -10rpx;display: flex;width: 80rpx;height: 80rpx;justify-content: center;align-items: center;
		.dxi-icon{font-size: 48rpx;}
	}
}

// label

.prof-label{
	.top{
		.input{width: 50%;border-bottom: 1rpx $color-primary solid;font-size: 28rpx;line-height: 2em;height: 2em;}
	}
}