page{background-color: #fff;}

.Ltype{width: 240upx;position: fixed;left: 0;top: 0;z-index: 10;background: #f6f6f6;}
.Ltype_item {width: 240upx;height: 100upx;background: #f6f6f6;display: flex;align-items: center;justify-content: center;font-size: 28upx;color: #444;font-weight: 400;}
.Ltype .active {position: relative;color: #55B4F6;font-size: 32upx;font-weight: 600;background: #fcfcfc;}
.Ltype .active::before {content: "";position: absolute;border-left: 8upx solid #55B4F6;height: 30upx;left: 0;}


/* .Ltype{position: fixed;top: 0;left: 0;bottom: 0;width: 240upx;background-color: #eee;}
.Ltype_box{overflow-y: scroll;}
.Ltype_item .name{text-align: center;font-size: 28upx;text-align: center;height: 100upx;line-height: 100upx;border-left: 4upx #eee solid;}
.Ltype_item .name.cur{background-color: #fff;border-color: #55B4F6;color: #55B4F6;} */


.Rtype{padding: 10upx 10upx 10upx 250upx;display: flex;flex-wrap: wrap;}
.Rtype_item{width: 50%;padding: 10upx}
.Rtype_item .name{border: 1px #ddd solid;text-align: center;line-height: 90upx;height: 90upx;font-size: 24upx;}