@font-face {
  font-family: 'iconfont';  /* project id 1759642 */
  src: url('//at.alicdn.com/t/font_1759642_e2ywe39wkgq.eot');
  src: url('//at.alicdn.com/t/font_1759642_e2ywe39wkgq.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1759642_e2ywe39wkgq.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1759642_e2ywe39wkgq.woff') format('woff'),
  url('//at.alicdn.com/t/font_1759642_e2ywe39wkgq.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1759642_e2ywe39wkgq.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  /*font-size:16px;*/
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-inventory-in:before{content: "\e88b";}
.icon-inventory-out:before{content: "\e889";}
.icon-subparts:before{content: "\e6bf";}
.icon-payable:before{content: "\e633";}
.icon-receivable:before{content: "\e88c";}

.icon-task:before{content: "\e611";}
.icon-transfer:before{content: "\e662";}
.icon-news:before{content: "\e823";}
.icon-contract:before{content: "\e632";}
.icon-hr:before{content: "\e612";}
.icon-worker:before{content: "\e60f";}
.icon-sign:before{content: "\e607";}
.icon-intro:before{content: "\e616";}
.icon-apply:before{content: "\e71a";}