.task_sec{background-color: #fff;padding: 0 30upx;margin-bottom: 16upx;}

.task_name{font-size: 36upx;padding-bottom: 16upx;}
.task_price{font-size: 34upx;padding-bottom: 16upx;border-bottom: 1upx #eee solid;}
.task_detail{font-size: 28upx;color: #333;line-height: 1.6;padding: 20upx 10upx;}


.task_info .weui-cell{padding: 20upx 0;font-size: 30upx;line-height: 60upx;}
.task_info .weui-label{display: inline-block;width: 160upx;color: #666;}
.task_info .weui-cell::before{border-color: #eee;left: 0;}
.task_info .weui-cell__ft .iconfont{color: #FF4949;font-size: 36upx;}


/* 产品底部 */
#footer{height: 100upx;position: fixed;left: 0;bottom: 0;width: 100%;background: #fff;z-index:99;display: flex;}
#footer:before{content: '';position: absolute;top: 0;right: 0;left: 0;border-top: 1upx solid #eaeef1;-webkit-transform: scaleY(0.5);-ms-transform: scaleY(0.5);transform: scaleY(0.5);}
#footer .left{display: flex;}
#footer .left .btn-item{padding: 8upx 0;margin: 0;width: 92upx;text-align: center;background: transparent;}
#footer .left .iconfont{height: 52upx;line-height: 56upx;font-size: 40upx;color: #666;}
#footer .left .txt{height: 32upx;line-height: 32upx;font-size: 24upx;color: #666;}

#footer .right{line-height: 100upx;display: flex;flex: 1;overflow: hidden;}
#footer .right myform{width: 100%;}
#footer .right .r-nav{width: 100%;padding: 10upx 6upx;}
#footer .right .r-item{text-align: center;font-size: 28upx;color: #fff;height: 80upx;line-height: 80upx;border-radius: 40upx;}
#footer .right .r-item-yellow{background-color: #FEAE1B;} 
#footer .right .r-item-red{background-color: #FF4949;}
#footer .right .r-item-default{background-color: #eee;color: #999;}