@font-face {
  font-family: 'iconfont';  /* Project id 1759642 */
  src: url('//at.alicdn.com/t/font_1759642_gfs2946sh1a.woff2?t=1645696642783') format('woff2'),
       url('//at.alicdn.com/t/font_1759642_gfs2946sh1a.woff?t=1645696642783') format('woff'),
       url('//at.alicdn.com/t/font_1759642_gfs2946sh1a.ttf?t=1645696642783') format('truetype');
}

/* 3314024140@qq.com  dx3229010  包工淘 */

.iconfont {
	font-family: "iconfont" !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-top:before{content: "\f304";}/* 上 */
.icon-bottom:before{content: "\f303";}/* 下 */
.icon-left:before{content: "\f301";}/* 左 */
.icon-right:before{content: "\f302";}/* 右 */
.icon-n-right:before{content: "\f305";}/* 右 */
.icon-add:before{content: "\e85a";}/* 加 */

.icon-man:before{content: "\e601";}/* 男 */
.icon-women:before{content: "\e602";}/* 女 */

.icon-time-o:before{content: "\e65a";}/* 时间 */
.icon-location-o:before{content: "\e61c";}/* 定位 */
.icon-tel-co:before{content: "\e60a";}/* 拨号 */
.icon-home-o:before{content: "\e682";}/* 时间 */
.icon-share-o:before{content: "\e63b";}/* 时间 */
.icon-del:before{content: "\e63f";}/* 删除 */
.icon-people:before{content: "\e637";}/* 人员 */
.icon-merchant:before{content: "\e724";}/* 企业 */
.icon-integral-order:before{content: "\e604";}/* 积分记录 */

.icon-dis-team:before{content: "\e639";}/* 团队 */
.icon-dis-client:before{content: "\e625";}/* 客户 */
.icon-dis-qrcode:before{content: "\e601";}/* 二维码 */

.icon-recruit-experience:before{content: "\e60d";}/* 经验 */
.icon-recruit-education:before{content: "\a63d";}/* 学历 */

.icon-pay-no:before{content: "\e988";color: #E84335;}/* 支付失败 */
.icon-pay-yes:before{content: "\e989";color: #09BB07;}/* 支付成功 */


.icon-trends-thumbs:before{content: "\e717";}/* 点赞 */
.icon-trends-evalute:before{content: "\e604";}/* 评价 */


.icon-user-detail:before{content: "\e653";color: #46CA7F;}/* 个人资料 */
.icon-user-zz:before{content: "\e66f";color: #FE4646;}/*个人资质 */
.icon-user-agreement:before{content: "\ed84";color: #457AE3;}/* 我的协议 */
.icon-user-wallet:before{content: "\e6cb";color: #FDBF3E;}/* 我的钱包 */
.icon-user-bankcard:before{content: "\e600";color: #F64D44;}/* 我的银行卡 */
.icon-user-order:before{content: "\e71a";color: #8545FC;}/* 接单设置 */
.icon-user-msg:before{content: "\e656";color: #46CA7F;}/* 我的消息 */
.icon-user-share:before{content: "\e74b";color: #FE4646;}/* 分享小程序 */
.icon-user-compnay:before{content: "\e613";}/* 我的企业 */
.icon-user-dis:before{content: "\e620";}/* 分享达人 */
.icon-user-talents:before{content: "\e60d";}/* 我的应聘 */


.icon-task-null:before{content: "\e610";}/* 没有任务 */
.icon-sign:before{content: "\e615";}/* 签字 */


.icon-pshare-wechat:before{content: "\f607";color: #75C519;}/* 微信 */
.icon-pshare-save:before{content: "\f608";color: #29AD35;}/* 保存 */


.icon-pro-home:before{content: "\e70e";}/*  */
.icon-pro-share:before{content: "\e93e";}/*  */

.icon-count-plus:before{content: "\f906";}/* 加号 */
.icon-count-minus:before{content: "\f905";}/* 减号 */


.icon-:before{content: "\e";}/*  */