/* 头部 */
.dis-header {position: relative;padding: 50rpx 30rpx;display: flex;align-items: center;}
.dis-header .head-img .img{width: 120rpx;height: 120rpx;border-radius: 50%;border: 8rpx solid rgba(255,255,255,0.5);margin-right: 30rpx;}
.dis-header .dis-info{flex: 1;line-height: 1;}


/* 项目 */
.sup-sec {display: flex;flex-wrap: wrap;padding: 20upx;background-color: #fff;margin-bottom: 24upx;}
.sup-sec .sec-group{width: 25%;text-align: center;padding: 20upx 0;}
.sup-sec .sec-group .icon{background: #999;width: 92upx;height: 92upx;text-align: center;line-height: 92upx;border-radius: 50%;margin: 0 auto;}
.sup-sec .sec-group .icon_img .img{width: 92upx;height: 92upx;border-radius: 50%;display: flex;margin: 0 auto;}
.sup-sec .sec-group:nth-child(1) .icon{background: #FB6E52;}
.sup-sec .sec-group:nth-child(2) .icon{background: #359DF6;}
.sup-sec .sec-group:nth-child(3) .icon{background: #FAA25D;}
.sup-sec .sec-group:nth-child(4) .icon{background: #A154AF;}
.sup-sec .sec-group:nth-child(5) .icon{background: #48CFAE;}
.sup-sec .sec-group:nth-child(6) .icon{background: #ff6c81;}
.sup-sec .sec-group:nth-child(7) .icon{background: #6c90d0;}
.sup-sec .sec-group:nth-child(8) .icon{background: #007AFF;}
.sup-sec .sec-group .icon .nav{font-size: 52upx;color: #fff;}
.sup-sec .sec-group .name{font-size: 30upx;color: #353535;margin-top: 16upx;line-height: 48rpx;}