@font-face {
  font-family: 'iconfont';  /* project id 738558 */
  src: url('//at.alicdn.com/t/font_738558_5pnd6nne7vq.eot');
  src: url('//at.alicdn.com/t/font_738558_5pnd6nne7vq.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_738558_5pnd6nne7vq.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_738558_5pnd6nne7vq.woff') format('woff'),
  url('//at.alicdn.com/t/font_738558_5pnd6nne7vq.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_738558_5pnd6nne7vq.svg#iconfont') format('svg');
}

/* 3314024140@qq.com  dx3229010 */

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-laba:before {content: "\e922e";}/* 拉叭 */
.icon-xiaozhu-del:before {content: "\e920e";}/* 删除 */
.icon-release-addimg:before {content: "\a923e";}/* 加 */
.icon-xiaozhu-off:before {content: "\e919e";}/* 关闭 */
.icon-xiaozhu-down:before {content: "\e912e";}/* 关闭 */
.icon-xiaozhu-enlarge:before {content: "\e921e";}/* 放大 */
.icon-xiaozhu-off-full:before {content: "\e914e";}/* 删除 */
.icon-xiaozhu-cha:before {content: "\e924e";}/* 删除 */